%h1 What we do and what you get

%p.lead
  %b What we do:
  Every week we're downloading all the new properties listed on the #{link_to "California Unclaimed Property Search", "http://sco.ca.gov/upd.html"}.  Yes, we're the only people who do this.  Yes, we are #{link_to "programmers", "http://stevenhallen.com"}.

%p.lead
  %b What you get:
  You'll get an email if your name ever appears in one of these records.  That's pretty much it, so if'n you don't want to know you have unclaimed property, then why are you reading this?  
  
%p.lead
  %b Why?
  That's a good question and one we keep asking ourselves.  We're into data and #{link_to "solving problems", "http://stevenhallen.com"}, plus, we think some people might be interested in paying us for this service.  You?
= render :partial => 'notifications/form'