
.hero-unit
  %h1 We value your time
  %br
  %h3
    Forget about continually checking the 
    #{link_to "California unclaimed property search", "http://sco.ca.gov/upd.html"}.
  %p We will do that for you.  


